<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Maturtity Area List</title>
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" type="text/css" href="main.css" >

  </head>
  <body>
    <header>
        <a href="/">
            <img alt="LIC Logo" src="lic_logo.png" width="150" height="70">
        </a>  
        
        <nav>
          <ul class="menu">
            <li><a href="/">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="/">contact</a></li>
          </ul>
        </nav>
        <h1>Maturity and Survival Benefit Area Wise List</h1>
    </header>


